@media only screen and (min-width: 576px ) and (max-width: 767px){

    #about-image {
        margin-top: 25px;
        order: 1;
        width: 100% !important;
        margin-left: unset !important;
    }
    #about-describe {
        order: 0;
        width: 100% !important;
    }
}