@media only screen and (min-width: 768px) and (max-width:  991px) {
    #overview-container {
        flex-wrap: wrap;
    }
    #overview-describe {
        width: 100% !important;
        margin-bottom: 25px;
    }
}