@media only screen and (min-width: 768px) and (max-width:  991px) {
    #footer-column-container {
        align-items: center;
        flex-direction: column;
    }
    #footer-column-container .footer-column {
        width: 80% !important;
        margin-bottom: 40px;
    }
    #footer-column-container .footer-column #badge-container img {
        width: 40%;
    }
}